body{
  background-color: grey;
  text-align: center;
  font-family:  'Roboto', sans-serif;
}

.container{
	display: inline-block;
  background-color: white;
  width : 70%;
  margin: auto;
  border-radius: 10px;	
}
.header{
	background-color: white;
	margin : 10px 50px;

	overflow:show;
	border: 3px solid #4d4a4a;
	position: relative;
}
.h-name{
	font-size: 5rem;	
	color: grey;

}
.h-job{
	position: relative;
  display: inline;
	font-size: 2rem;
	background-color: #ff9900;
	text-align: center;
	bottom: -18px;
	color: white;
	padding: 5px;
	 
}
.row{
	margin: 30px;
	display :flex;
 
}
.col-ls{
	width: 60%;
	align-items: left;

}
.about{
	border-bottom: 2px solid #ff9900;
	display: inline-block;
	font-size: 1.17rem;
	margin-top: 20px;

}
.col-rs{
	text-align: left;
	margin-left: 10px;
	
}

p{
	font-family:  'Roboto', cursive;
	font-size: 1.2rem;
  line-height: 1.5em;
}
.col-edu{

 width: 30%;


}
.col-skl{
  width: 40%;
  border-left: 1px solid  #4d4a4a;
  border-right: 1px solid #4d4a4a; 

}

.title-lr{
  background-color: #ff9900;
  color: white;
  display: inline-block;
  letter-spacing: 0.1em;
  padding: 3px 15px;
  
}
.title-skl{
  background-color: #4d4a4a;  
}
.edu-text{
  letter-spacing: 0.1em;
  margin: 15px 10px;
  line-height: 1.5em;
}
.mr-row{
  
  justify-content: center;
  text-align: center;
}
.project{
  display: inline-block;
  margin: 5px;
  width: 80%;
}
.project-title{
  margin-top: 0px;
  width: 100%;
}
.project-body{
  text-align: left;
}
.project-wraper{
  text-align: center;
  padding: auto;
  margin: auto;
  display: inline-block;
}
@media only screen and (max-width: 1800px) and (min-width: 1400px) {
 .container{
    width : 60%;
  } 

}
@media only screen and (max-width: 2400px) and (min-width: 1800px) {
 .container{
    width : 55%;
  } 
}
@media only screen and (max-width: 1000px) and (min-width: 800px  )  {
  .container{
    width : 85%;
  }
  .h-name{
    font-size: 4.5rem;  
  } 
  .h-job{
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 800px) and (min-width: 710px  )  {
  .container{
    width : 95%;
  } 
  .h-name{
    font-size: 4rem;  
  } 
  .h-job{
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 710px)  {
  .container{
    width : 100%;
    border-radius: 0px;
  } 
  body{
    margin:0px;
  }
  .header{
    margin : 10px 30px;
  }

}
@media only screen and (max-width: 710px) and (min-width: 520px)  {
  .h-name{
    font-size: 3.5rem;  
  }
  .h-job{
    font-size: 1.25rem;
    }
  .title-lr{
    padding: 3px 10px;
  }
}
@media only screen and (max-width: 600px)  {
  .row{
    flex-direction: column;
  }
  .col-ls{
    width: 100%;
  }
  .col-rs{
    text-align: center;
    margin-left: 0px;
  }
  .header{
    margin : 7px 20px;
  }
  .col-edu{
    width: 100%;
    margin-top: 1.3em;
  }
  .col-skl{
    width: 100%;
    border:none;
  }
  .edu-text div{
    font-size: 1.2em;
  }
  .title-lr{
    display: block;
  }
  .about{
    display: block;
  }
}

@media only screen and (max-width: 520px) and (min-width: 400px)  {
  .h-name{
    font-size: 2.2rem;  
  }
  .h-job{
    font-size: 1.1rem;
  }
  .col-ls p{
    font-size: 1.05em;
  }
}
@media only screen and (max-width: 400px){
  .edu-text div{
    font-size: 1em;
  }
  .h-name{
    font-size: 2em;  
  }
  .h-job{
    font-size: 1rem;
  }
  .row{
    margin-left: 10px;
    margin-right: 10px;
  }
  li{
    font-size: 1.1em;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 300px)   {
  .h-name{
    font-size: 1.75rem;  
  }
  .h-job{
    font-size: 0.8rem;
    }
}