html { 
  background: url(image.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
  scroll-behavior: unset;
  background-size: cover;
  font-family: 'IM Fell Great Primer SC', serif;
}


.form_body{
	background-color: #404142;
 	padding: 20px;
 	 width: 350px;
  border: 1px solid green;
 	justify-content: center;
	align-items: center;
	position: relative;
	margin-left: 25%;
	border-radius: 20px;
}

.textbox{
	font-size: 18px;
	font-family: Helvetica;
	border-radius: 10px;
	border: 0;
padding: 5px;
	margin: 4px;
}

.button{
	border-radius: 7px;
	font-size: 20px;
	background-color: #3f5b99;
	border-color: blue;
	color: white;
}
.button_grp{
	margin-top: 5px;
	margin-left: 10%;
}
.header{
	background-color: #404142;
	color: white;
 	 width:50%;
  border: 1px solid green;
 	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 3rem;
	border-radius: 20px;
	min-width: 90%;
	padding-left: 100px;
}
#logo{
	margin-top: 5px;
	border-radius: 5px;
}
#welcome{
	margin-bottom: 10px;
	
}
h2{
	color: white;
	margin-left: 40%;
	font-family: 'IM Fell Great Primer SC', serif;
}
.bg{
	margin: 10%;
	margin-left: 15%;
	justify-content: center;
	align-items: center;
}
.inputs{
	margin-left: 20%;
}
p{
	color: white;
}
li{
	color: white;
}