
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://previews.123rf.com/images/peshkov/peshkov1903/peshkov190300838/118913627-creative-circuit-chip-wallpaper-ai-and-computing-concept-3d-rendering.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
color: white;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color:rgba(0, 0, 0, .5) ;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: yellow;
color: black;
border:0 ;
}

input:focus{
outline: 0 0 0 0  ;
box-shadow:12px 12px 2px 1px rgba(0, 0, 255, .2);;

}
.error{
    color: red;
    font-size: large;
}


.login_btn{
color: black;
background-color: yellow;
width: 100px;
margin: 10px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.register_btn{
    color: black;
    background-color: yellow;
   
    margin: 10px;
    }
    
    .register_btn:hover{
    color: black;
    background-color: white;
    }

.reset_btn{
    color: black;
    background-color: yellow;
    width: 100px;
    margin: 10px;
    }
    
    .reset_btn:hover{
    color: black;
    background-color: white;
    }
.card-footer{
    color: white;
}