.profile-body{
    min-height: 460px;
    margin-top: 50px;
    overflow: hidden;
}

.error{
    display: inline-block;
    text-align: center;
}
.imagebox-center{
    margin-left: 100px;
}
.text-center{
    margin: auto;
}
.main{
    overflow: hidden;
}